.teste_01 {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    /* padding: 10px 30px 10px 30px; */
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
}

.teste_02 {
    display: inline-block;
    padding: 10px 30px 10px 30px;
    background-color: green;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
}
.paginas {
    display: inline-block;
    padding: 10px 30px 10px 30px;
    background-color: green;
    border-radius: 10px;
}
.botao {
    color: white;
    text-decoration: none;
}