body {
    margin: 0px;
    font-family: arial;
}
h1 {
    font-size: 35px;
    text-align: center;
}
.titulo_02 {
    font-size: 28px;
    text-align: center;
}

.item {
    /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; */
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #cac8c8f7;
    background-color: #e7e3e3f7;
    border-radius: 10px;
}

.compra {
    display: inline-block;
    text-decoration: none;
    background-color: green;
    color: #FFFFFF;
    font-size: 17px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.paginas {
    padding: 10px 30px 10px 30px;
    background-color: #cac8c8f7;
}
.botao_anterior {
    display : inline-block;
    color: white;
    text-decoration: none;
    margin-top: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(180, 15, 15);
    border-radius: 5px;
}
.botao_proximo {
    display : inline-block;
    color: white;
    text-decoration: none;
    margin-top: 5px 5px 5px 50px;
    padding: 10px 10px 10px 10px;
    background-color: green;
    border-radius: 5px;
}
.grid {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 10px;
    padding: 50px;
}