* {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}
.titulo_aula {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: #333
}
.texto_aula {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: #333;
}
.texto_aula:hover {
    background-color: #f2f2f2;
}
.titulo {
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #333;
}
.titulo_2 {
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #333;
}
.preco {
    font-size: 30px;
    color: #122ece;
    margin: 10px;
    padding: 10px;
    background-color: #fff4c4;
    border-radius: 10px;
}
.preco_2 {
    font-size: 30px;
    color: #122ece;
    margin: 10px;
    padding: 10px;
    background-color: #fff4c4;
    border-radius: 10px;
}
.compra {
    display: inline-flex;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    color: #333;
    background-color: green;
    border-radius: 10px;
    color: white;
}
.compra:hover {
    background-color: rgb(3, 156, 3);
    color: #ffffff;
}
.compra_2 {
    display: inline-flex;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    color: #333;
    background-color: green;
    border-radius: 10px;
    color: white;
}
.compra_2:hover {
    background-color: rgb(3, 156, 3);
    color: #ffffff;
}
img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}
.imagem{
    display: block;
}
.paginas {
    padding: 10px 30px 10px 30px;
    background-color: #cac8c8f7;
}
.botao_anterior {
    display : inline-block;
    color: white;
    text-decoration: none;
    margin-top: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(180, 15, 15);
    border-radius: 5px;
}
.botao_proximo {
    display : inline-block;
    color: white;
    text-decoration: none;
    margin-top: 5px 5px 5px 50px;
    padding: 10px 10px 10px 10px;
    background-color: green;
    border-radius: 5px;
}
.grid_1 {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.grid_1 p {
    font-size: 20px;
    color: #333;
    margin: 10px;
    padding: 5px;
}
.imagem_1 {
    grid-column: 1;
}
.compar {
    grid-column: 2 ;
}
.grid_2 {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.grid_2 p {
    font-size: 20px;
    color: #333;
    margin: 10px;
    padding: 5px;
}
.imagem_2 {
    grid-column: 2;
}
.grid_2 p {
    grid-column: 1;
}
.titulo_2 {
    grid-column: 1;
}
.preco_2 {
    grid-column: 2;
}
.compra_2 {
    grid-column: 2;
}

