body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1 {
    font-size: 35px;
}

a {
    text-decoration: none;
    gap: 20px;
    font-size: 20px;
}

.titulo-aula {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
}

.texto-aula {
    font-size: 20px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin: 20px auto;
}

.primario {
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}
