body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

.titulo-aula {
    font-size: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);

}

.texto-aula {
    background: #f4f4f4f4;
    padding: 20px;
    line-height: 1.6;
}
main section{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 20px
}

.modification {
    padding: 1rem 2rem;
    margin: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #caf;
    color: blue;
    border:1px rgb(138, 71, 240) solid;
    border-radius: 5px;
    transition: 0.5s, color 0.5s;
}

a:hover {
    background-color: blue;
    color: white;
    border: #caf solid 1px;
}


.lista-1 li:first-child {
    background-color: #caf;
    padding: 5px;
}

.lista-1 li {
    background-color: #ffa;
    padding: 5px;
}

.lista-2 li:nth-child(2n) {
    background-color: #ffa;
    padding: 5px;
}

.lista-2 li {
    background-color: #cfa;
    padding: 5px;
}

.lista-3 li:last-child {
    background-color: #ffa;
    padding: 5px;
}

.lista-3 li {
    background-color: #cfa;
    padding: 5px;
}